*{
  margin : 0;
  padding : 0;
}

#main-header{
  position: relative;
  padding-top: 20%;
}

#index_banner {
  display: block;
  width:100%;
  height: 276px;
  margin-bottom: -5px;
}

#banner_img {
  position: absolute;
  background-image: url('./resource/img/img_bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0px;
}

/* 제목관련 */
#banner_txt{
  position: absolute;
  left: 20%;
  width: 60%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

@font-face{
  font-family: NotoSansKR_Bold;
  src:url('./resource/font/NotoSansKR-Bold.otf');
}

.title{
  font-family: NotoSansKR_Bold;
  color: rgba(255, 255, 255, 0.897);
  font-size: 4vw;
  letter-spacing: -0.25px;
}

@font-face{
  font-family: NotoSansKR_Regular;
  src:url('./resource/font/NotoSansKR-Regular.otf')
}

.sub-title{
  font-family: NotoSansKR_Regular;
  color: rgba(255, 255, 255, 0.65);
  font-size: 2vw;
  letter-spacing: -0.25px;
  line-height: 0px;
}

/* 바로가기 관련 */
#banner_link {
  position: absolute;
  top:20%;
  right:7%;
}

#banner_link_txt{
  float: left;
  position: relative;
  padding-right: 0.5vw;
  color: rgba(255, 255, 255, 0.65);
  text-align: right;
  font-family: NotoSansKR_Regular;
  font-size: 1.4vw;
  letter-spacing: -0.25px;
  line-height: 1.87vw;
}

#banner_link_img{
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

/* 본문내용 */
#content{
  max-width: 1170px;
  margin:0 auto;
  margin-top: 30px;
}

#content_txt {
  text-align: center;
  font-size: 1.35vw;
  letter-spacing: -0.18vw;
  font-family: NotoSansKR_Regular;
}

.text_bold{
  font-weight: bold;
}

#content_vertical_line{
  margin-top: 2vw;
  margin-bottom: 2vw;
  height: 10vw;
  width: 50%;
  border-right: 0.11vw dashed;
}

/* 표 */
#main-table{
  width: 100%;
  border: none;
}

#main-table tr{
  height: 40px;
}

#main-table td{
  width:100px;
}

.center{
  text-align: center;
}

.half{
  width: 50%;
  height: 30px;
}

#calBtn{
  margin: 5px 0px 0px 0px;
  width: 100px;
  height: 50px;
  float: right;
  border-radius: 10px 10px 10px 10px;
  color: white;
  background-color: #2e2e1f;
  font-size: 15px;
  font-weight: bold;
  outline:0;
}

#main-table  tr:first-child, #main-table tr:last-child{
  background-color: #2e2e1f;
  color: white;
  font-weight: bold;
}

tr:nth-child(2n){
  background-color: #e6e6e6;
}
tr:nth-child(2n+1):hover{
  background-color:#cccccc;
}

.partyName{
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.totalSeat{
  color: white;
  font-weight: bold;
  border-radius: 7px 7px 7px 7px;
  line-height: 30px;
  display: inline-block;
}

div > input[type=text]{
  border-radius:  7px 7px 7px 7px;
  border-style: solid;
}

#content_guide {
  margin-top: 2vw;
  margin-left: 0.5vw;
  margin-bottom: 2vw;
  font-family: NotoSansKR_Regular;
  font-size: 1.17vw;
}

#index {
  width: 100%;
  height: 288px;
}